

/* Use CSS to right-align the text in the "Amount" column.
Hint: You'll want to assign a class to the associated <th> and <td> tags
in your index.html and script.js files. */

.chart {
  height: 500px;
}

